.header{
	width:99%;
	height:18%;
	background-color:#6373e8;
	color:cyan;
	text-align:center;
	padding:10px;
	font-size:40px;
	font-family:arial;
	font-weight:bold;
}
.logo{
	margin-left:-1000px;
	margin-top:-390px;
	
}
.address{
	margin-left:900px;
	margin-top:-180px;
	color:white;
	
	
}
.body{
	width:100%;
	height:60%;
	background-color:#7685f2;
	margin-top:12%;
	
}
.location{
	background-color:#37407a;
	width:20%;
	height:20%;
	border-radius:10px;
	margin-left:300px;
	opacity:0.4;
	
}
.location:hover{
	background-color:#37407a;
	width:20%;
	height:20%;
	border-radius:10px;
	margin-left:300px;
	opacity:1.0;
	
}
.time{
	background-color:#37407a;
	width:20%;
	height:20%;
	border-radius:10px;
	margin-left:950px;
	margin-top:-100px;
	opacity:0.4;
	
}
.time:hover{
	background-color:#37407a;
	width:20%;
	height:20%;
	border-radius:10px;
	margin-left:950px;
	margin-top:-100px;
	opacity:1.0;
	
}
.agenda{
	background-color:#37407a;
	width:20%;
	height:20%;
	border-radius:10px;
	margin-left:625px;
	margin-top:50px;
	opacity:0.4;
}
.agenda:hover{
	background-color:#37407a;
	width:20%;
	height:20%;
	border-radius:10px;
	margin-left:625px;
	margin-top:50px;
	opacity:1.0;
}
.first{
	background-color:#37407a;
	width:20%;
	height:20%;
	border-radius:10px;
	margin-left:150px;
	margin-top:60px;
	opacity:0.4;
}
.first:hover{
	background-color:#37407a;
	width:20%;
	height:20%;
	border-radius:10px;
	margin-left:150px;
	margin-top:60px;
	opacity:1.0;
}
.second{
	background-color:#37407a;
	width:20%;
	height:20%;
	border-radius:10px;
	margin-left:625px;
	margin-top:-110px;
	opacity:0.4;
}
.second:hover{
	background-color:#37407a;
	width:20%;
	height:20%;
	border-radius:10px;
	margin-left:625px;
	margin-top:-110px;
	opacity:1.0;
}
.third{
	background-color:#37407a;
	width:20%;
	height:20%;
	border-radius:10px;
	margin-left:1100px;
	margin-top:-110px;;
	opacity:0.4;
}
.third:hover{
	background-color:#37407a;
	width:20%;
	height:20%;
	border-radius:10px;
	margin-left:1100px;
	margin-top:-110px;;
	opacity:1.0;
}
.location_head{
	width:100%;
	height:40%;
	color:white;
	text-align:center;
	font-size:30px;
	font-family:arial;
	font-weight:bold;
}
.location_body{
	width:100%;
	height:60%;
	color:white;
	text-align:center;
	font-size:20px;
	font-family:arial;
	font-weight:bold;
}
.time_head{
	width:100%;
	height:40%;
	color:white;
	text-align:center;
	font-size:30px;
	font-family:arial;
	font-weight:bold;
}
.time_body{
	width:100%;
	height:60%;
	color:white;
	text-align:center;
	font-size:20px;
	font-family:arial;
	font-weight:bold;
}
.first_head{
	width:100%;
	height:40%;
	color:white;
	text-align:center;
	font-size:30px;
	font-family:arial;
	font-weight:bold;
}
.first_body{
	width:100%;
	height:60%;
	color:white;
	text-align:center;
	font-size:20px;
	font-family:arial;
	font-weight:bold;
}
.second_head{
	width:100%;
	height:40%;
	color:white;
	text-align:center;
	font-size:30px;
	font-family:arial;
	font-weight:bold;
}
.second_body{
	width:100%;
	height:60%;
	color:white;
	text-align:center;
	font-size:20px;
	font-family:arial;
	font-weight:bold;
}
.third_head{
	width:100%;
	height:40%;
	color:white;
	text-align:center;
	font-size:30px;
	font-family:arial;
	font-weight:bold;
}
.third_body{
	width:100%;
	height:60%;
	color:white;
	text-align:center;
	font-size:20px;
	font-family:arial;
	font-weight:bold;
}
.agenda_head{
	color:white;
	text-align:center;
	margin-top:10px;
	font-size:40px;
}
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	